.main-sec{
	margin-top:70px;
	display:block;
	height:100vh;
	.side-menus{
		width:270px;
		background-color:$white;
		height:100vh;
		float:left;
		margin-right: 10px;
		margin-left: 10px;
		ul{
			float: left;
			display: block;
			li{
				a{
					background: #fff;
					display: block;
					padding: 15px 10px 15px 10px;
					transition: all 0.5s ease;
					color: $primary;
					&:hover{
						background-color:$primary;
						color: #fff;
						padding-left:15px;
					}
				}
				.active{
					background-color:$primary;
					color: #fff;
				}
				display: block;
			    width: 100%;
			    float: left;
			    background: #fff;
			    border-bottom: 1px solid #f1f1f1;
			}
		}
	}
	.main-area{
		float:left;
		width: calc(100% - 300px);
		background-color:$white;
		height:100vh;
		margin-right: 10px;
		padding:15px;
		
	}
}
