.login{
	width: 450px;
	height:auto;
	background-color:$white;
	margin:0px auto;
	margin-top:5%;
	.head{
		background-color:$primary;
		padding: 20px 0px;
		i{
			text-align: center;
			display: block;
			img{
				width:120px;
			}
		}
	}
	.form{
		padding:25px;
		.row{
			margin-bottom:0px;
		}
		button{
			border:none;
			height: 45px;
			background-color:$primary;
			color: $white;
			text-align: center;
			letter-spacing: 2px;
			text-transform: uppercase;
			line-height: 45px;
			width: 100%;
		}

	}

}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
	border-bottom: 1px solid #e1e1e1!important;
}