#images {
    display: inline-block;
    position: relative;


}

.thumbnail-card {
    width: 180px;
    height: 200px;
    background-color: #fff;
    border: 1px solid rgba(225, 225, 225, 0.73);
    float: left;
    margin: 5px 5px;
    text-align: center;
}

.del_photo {
    display: inline-block;
    float: right;
    margin: 10px 10px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    color: pink;
}

.width-100 {
    width: 100px !important;
    text-align: center;
}

.admin-search-box{
    height: auto;
    float: right;
    border: 1px solid;
    padding: 4px;
}
.admin-search-box input{
    height: 40px !important;
    margin-bottom: 0px !important;
}



.admin-search-box .filter-select{

    float:left;
    width: 110px;
    height: 40px;
}

.admin-search-box .filter-select select {
    background-color: #fff;
    border-radius: 0px;
    height: 40px;
    font-size: 14px;
}

.admin-search-box .filter-text{

    float:left;
    width: 250px;
    margin-left: 10px;
    height: 40px;
}
.admin-search-box .filter-text input{

    margin-bottom: 0px;
}
.admin-search-box .filter-button{

    float:left;
    margin-left: 10px; 
    height:40px;
    width:40px;
}
.admin-search-box .filter-button .btn-search{

    height: 40px;
    width: 40px;
    padding: 0px;
}
.header-all-section {
    margin-bottom: 20px;
}
.header-all-section .title {
    width: calc(100% - 560px);
    float: left;
}
.header-all-section .title-normal {
    width: calc(100% - 120px);
    float: left;
}
.header-all-section .title-normal h2 {
    font-size: 20px;
    display: block;
    padding-bottom: 15px;
    color: #19223D;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
}


.header-all-section .action-area {
    margin-top: 5px;
    margin-bottom: 5px;
}

.width-20{
    width:20px !important;
}

/* line 23, ../sass/layout/_menu.scss */
.admin_menu #dropdown1 {
    width: 200px !important;
}
/* line 26, ../sass/layout/_menu.scss */
.admin_menu #dropdown1 li a {
    color: #19223D;
    font-size:12px; 
    line-height: 40px;
}

/* line 26, ../sass/layout/_menu.scss */
.admin_menu #dropdown1 li a i{
    font-size: 25px;
    color: #19223D;
    line-height: 40px;
}


/* line 57, ../sass/layout/_menu.scss */
.dropdown-content li > a, .dropdown-content li > span {
    padding: 10px 15px;
}



.loader-spinner {
    border: 3px solid #f3f3f3;  
    border-top: 3px solid red;  
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 20141628;

}

 .loader {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333;
  opacity: .2;
  z-index: 20140628;
  height:1100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}