.map iframe{
    width: 100% !important;
    height: 450px;
}

.contact-map iframe{
    width: 100% !important;
    height: 450px;
}

.image-buy-detail {
    height: 560px;
}

.image-buy-detail img{
    -webkit-user-select: none;
    background-position: 0px 0px, 10px 10px;
    background-size: 20px 20px;
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
    cursor: zoom-in;
    height: 560px !important;
    object-fit: fill !important;
}


/* line 1, ../sass/layout/Pages/_team.scss */
.buy-agent-card {
    width: 100%;
    height: 560px;
    background: #fff;
    margin-bottom: 0px;
    border: 1px solid rgba(225, 225, 225, 0.73);
}
.buy-agent-card .agent-detail-sec {
    padding: 10px;
    float: left;
    line-height: 2;
    margin-top: 10px;
}
.mg-right-10{
    margin-right: 10px;
}

.buy-agent-card .agent-footer {
    padding: 10px;
    float: left;
    margin-top: 10px;
}

.buy-agent-card .agent-footer .bt-half {
    width: 49%;
    float: left;
    height: 35px;
    border: 1px solid #19223D;
    color: #19223D;
    background-color: #fff;
}
/* line 106, ../sass/layout/Pages/_buy.scss */
.buy-agent-card .agent-footer .bt-half a {
    color: #19223D;
    font-size: 12px;
}
/* line 111, ../sass/layout/Pages/_buy.scss */
.buy-agent-card .agent-footer .mg-right-5 {
    margin-right: 5px;
    background-color: #19223D !important;
}
/* line 114, ../sass/layout/Pages/_buy.scss */
.buy-agent-card .agent-footer .mg-right-5 a {
    color: #fff;
}
/* line 118, ../sass/layout/Pages/_buy.scss */
.buy-agent-card .agent-footer .bt-number {
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #19223D;
    color: #19223D;
    background-color: #fff;
}
/* line 125, ../sass/layout/Pages/_buy.scss */
.buy-agent-card .agent-footer .bt-number a {
    color: #19223D;
    font-size: 14px;
    font-weight: 600;
}


.buy-agent-card .agent-footer .bt-half {
    width: 47%;
}

.buy-agent-card .agent-footer .bg-send {
    background-color: #19223D !important;
}

.buy-agent-card .agent-footer .bg-send a{
    color: #fff !important;
}


/* line 6, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}
/* line 11, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head img {
    min-width: 100%;
    object-fit: cover;
}
/* line 15, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head .view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s ease;
}
/* line 22, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head .view button {
    margin: 0px auto;
    display: block;
    border: none;
    height: 30px;
    background-color: #F15C5C;
    padding: 0px 20px;
    margin-top: 100px;
}
/* line 30, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head .view button a {
    color: #fff;
}

/* line 69, ../sass/layout/Pages/_team.scss */
.buy-agent-card:hover .view {
    opacity: 1;
}

.loader-spinner {
    border: 3px solid #f3f3f3;  
    border-top: 3px solid red;  
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 20141628;

}

.loader {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #333;
    opacity: .2;
    z-index: 20140628;
    height:1100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.inner-full-banner .project-enquiry input {
    font-size: 13px !important;
    color: #fff;
}
/* line 178, ../sass/layout/Pages/_project.scss */
.inner-full-banner .project-enquiry textarea {
    border: none;
    border-bottom: 1px solid #e1e1e1 !important;
    font-size: 13px !important;
    color: #fff !important;
    margin-top: 30px;
}
.full-button{

    z-index: 0 !important;
}

.modal {
    max-height: 80%;
}

button{
    cursor: pointer !important;
}
.modal-trigger{
    cursor: pointer !important;
}

/*.modal-content button a{
    
    width :95%
}*/

.agent-card .agent-image img{

    height: 100%;
}

/* line 214, ../sass/layout/Pages/_testimonial.scss */
.property-card .sold {
    position: absolute;
    padding: 0px !important;
    margin: 0px !important;
    z-index: 666;
    width: 78px;
    height: 65px;
    background-image: url(../images/sold.svg);
    background-repeat: no-repeat;
    right: -4px;
    top: -4px;
    background-position: top right;
}

.property-card .rented {
    position: absolute;
    padding: 0px !important;
    margin: 0px !important;
    z-index: 666;
    width: 78px;
    height: 65px;
    background-image: url(../images/rented.svg);
    background-repeat: no-repeat;
    right: -4px;
    top: -4px;
    background-position: top right;
}

.property-desc{
    height:100px;
    overflow: hidden;
}

.property-desc-more{
    height:auto;
    overflow: hidden;
}

.facts ul li strong {
    width: 90px;
    display: inline-block;
    color: #19223D;
}

.facts {
    height: 170px;
    overflow: visible;
}

.margin-bottom-0{

    margin-bottom: 0px !important;
}

.margin-bottom-10{

    margin-bottom: 0px !important;
}

.fact-row{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    overflow: hidden;
    height: 16px;

}

.fact-row i{
    margin-right: 10px;
}

.aminities {
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #19223D;
    background-color: #fff;
}

.dropdown-content{
    max-height: 300px !important;
}
#modal-filter .modal-content {
    padding: 15px;
}

.list-card .over-card ul {
    min-height:180px;
}

/*
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
    height: 40px !important;
    border-radius:0px !important; 
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 0px !important;
    border-radius: 0px !important;
    cursor: text;
    max-height: 40px !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
    height: 40px;
    margin-bottom: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px; 
    width: 100%;
    height: 40px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 7px 7px !important;
}*/

.search-form .select2-container{

    width:100% !important;
    border-radius: 0px !important;
    border: 0px !important;
}

.search-form .selection{

    float: left;
    width: 100%;
    border: 0px !important;
}

.search-form .select2-selection{

    width:100% !important;
    border: 0px solid #fff !important;
    border-radius: 0px !important;
}

.search-form .select2-search input { 
    border: 0px solid #fff !important;
    height: 38px !important;
    margin-bottom: 0px !important;
}
.search-form .select2-search__field{
    border-bottom: 0px solid #fff !important;
    width:513px!important;
}

.search-form .select2-selection__choice { 
    padding: 7px 7px !important;
}
.search-form .select2-selection__rendered{

    border: 0px solid #fff !important;
}

.filters .select2-container{

    width:100% !important;
    border: 1px solid #fff !important;
    border-radius: 0px !important;
}

.filters .select2-search__field{
    width:225px!important;
}

.filters .select2-selection{

    width:100% !important;
    border: 0px solid #fff !important;
    border-radius: 0px !important;
    background-color:rgba(25, 34, 61, 0.9) !important; 
}

.filters .select2-search input { 
    background-color:rgba(25, 34, 61, 0.9) !important; 
    color: #fff !important;
    border: 0px solid #fff !important;
    height: 40px !important;
    margin-bottom: 0px !important;
}

.filters .select2-selection__choice { 
    padding: 7px 7px !important;
}

.list-card{

    height:100%;
    float:left;
    min-height: 355px;
}


/*.filters .select2-container--default .select2-selection--multiple {
    background-color: rgba(25, 34, 61, 0.9) !important;

}
.filters .select2-search { 
    background-color:rgba(25, 34, 61, 0.9) !important; 
    float: left ;
}

.filters .select2-search__field { 
    overflow: visible !important;
    height: 100% !important;
}

.filters .select2-selection--multiple { 
    overflow: visible !important;
    height: 100% !important;
}

.filters .select2-search input { 
    background-color:rgba(25, 34, 61, 0.9) !important; 
    color: #fff !important;
}

.filters .select2-results { 
    background-color:  rgba(25, 34, 61, 0.9) !important; 
    
}
.filters .select2-selection__rendered {

   // border-bottom: 1px solid #fff !important; 
    height: 100% !important;
    overflow: visible !important;
    
}*/
