.map iframe{
    width: 100% !important;
    height: 450px;
}

.contact-map iframe{
    width: 100% !important;
    height: 450px;
}

.image-buy-detail {
    height: 420px;
}

/* line 1, ../sass/layout/Pages/_team.scss */
.buy-agent-card {
    width: 100%;
    height: 420px;
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid rgba(225, 225, 225, 0.73);
}
.buy-agent-card .agent-detail-sec {
    padding: 10px;
    float: left;
    margin-top: 10px;
}
.mg-right-10{
    margin-right: 10px;
}


.buy-agent-card .agent-detail-sec .bt-half {
    width: 47%;
}

.buy-agent-card .agent-detail-sec .bg-send {
    background-color: #19223D !important;
}

.buy-agent-card .agent-detail-sec .bg-send a{
    color: #fff !important;
}


/* line 6, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}
/* line 11, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head img {
    min-width: 100%;
    object-fit: cover;
}
/* line 15, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head .view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s ease;
}
/* line 22, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head .view button {
    margin: 0px auto;
    display: block;
    border: none;
    height: 30px;
    background-color: #F15C5C;
    padding: 0px 20px;
    margin-top: 100px;
}
/* line 30, ../sass/layout/Pages/_team.scss */
.buy-agent-card .agent-head .view button a {
    color: #fff;
}

/* line 69, ../sass/layout/Pages/_team.scss */
.buy-agent-card:hover .view {
    opacity: 1;
}

.loader-spinner {
    border: 3px solid #f3f3f3;  
    border-top: 3px solid red;  
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 20141628;

}

.loader {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #333;
    opacity: .2;
    z-index: 20140628;
    height:1100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.inner-full-banner .project-enquiry input {
    font-size: 13px !important;
    color: #fff;
}
/* line 178, ../sass/layout/Pages/_project.scss */
.inner-full-banner .project-enquiry textarea {
    border: none;
    border-bottom: 1px solid #e1e1e1 !important;
    font-size: 13px !important;
    color: #fff !important;
    margin-top: 30px;
}
.full-button{

    z-index: 0 !important;
}

.modal {
    max-height: 80%;
}

button{
    cursor: pointer !important;
}
.modal-trigger{
    cursor: pointer !important;
}

/*.modal-content button a{
    
    width :95%
}*/

.agent-card .agent-image img{

    height: 100%;
}

/* line 214, ../sass/layout/Pages/_testimonial.scss */
.property-card .sold {
    position: absolute;
    padding: 0px !important;
    margin: 0px !important;
    z-index: 666;
    width: 78px;
    height: 65px;
    background-image: url(../images/sold.svg);
    background-repeat: no-repeat;
    right: -4px;
    top: -4px;
    background-position: top right;
}

.property-card .rented {
    position: absolute;
    padding: 0px !important;
    margin: 0px !important;
    z-index: 666;
    width: 78px;
    height: 65px;
    background-image: url(../images/rented.svg);
    background-repeat: no-repeat;
    right: -4px;
    top: -4px;
    background-position: top right;
}

.property-desc{
    height:100px;
    overflow: hidden;
}

.property-desc-more{
    height:auto;
    overflow: hidden;
}

.facts ul li strong {
    width: 90px;
    display: inline-block;
    color: #19223D;
}

.facts {
    height: 170px;
    overflow: visible;
}

.margin-bottom-0{

    margin-bottom: 0px !important;
}

.fact-row{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    overflow: hidden;
    height: 16px;

}

.fact-row i{
    margin-right: 10px;
}

.aminities {
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #19223D;
    background-color: #fff;
}