body,p,span,h5,h6,a,strong,li,button{
	font-size:14px;
	color:#999;
	font-family: 'Open Sans', sans-serif;
	 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f1f1;
}
.width-150{
	width:150px;
	text-align:center;
}
.padd-10-0{
	padding:0px 10px;
}