header{
	height:60px;
	background-color:$primary;
	padding:0px 20px;
	position:fixed;
	width:100%;
	z-index:999;
	top:0px;
	.logo{
		height: 60px;
		width: calc(100% - 70px);
		float: left;
		i{
			line-height: 60px;
			display: block;
			img{
				height: 50px;
			    width: auto;
			    padding-top: 10px;
			}
		}
	}
	.logout{
		float: left;
		width: 60px;
		text-align: right;
		a{
			background:none;
			i{
				font-size: 30px;
				color: $white;
				line-height: 60px;
			}
		}
		
	}
}