.table{
	thead{
		width: 100%;
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 10px;
		th{
			height: 40px;
			padding: 10px;
			color:$primary;
			font-weight: 600;
		}
		
	}
}

table.striped > tbody > tr > td{
	padding:10px;
}

.action-table{
        .sub_menu{
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		color: $secondary;
		background-color: #fff;
		border:none;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		font-size: 14px;
		border:1px solid #f1f1f1;
                
	}
	.edit{
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		color: $primary;
		background-color: #fff;
		border:none;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		font-size: 14px;
		border:1px solid #f1f1f1;
	}
	.delete{
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		color: #fff;
		border:none;
		background-color: #F16B6F;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		font-size: 14px;
	}
}

.pagination li a{
	font-size:14px!important;
}
.pagination li i{
	font-size:14px!important;
}